* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
  letter-spacing: 1px;
}
body{
  background-color: rgb(230, 230, 230);
}
button {
  background-color: #3498db;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
}
button:hover{
  background-color: #54a4da;
}

li:hover {
  background-color: #ecf0f1;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(230, 230, 230);
  padding: 1rem;
  /* background-color: aquamarine; */
}
.container{
  width: 100%;
  /* background-color: red; */
  height: 100vh;
  
}

.add_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.add_list input {
  border: none;
  height: 2rem;
  width: 40%;
  padding: 0 .3rem;
  border-radius: .3rem;
  margin-bottom: .5rem;
}

.add_list button {
  padding: .5rem 2rem;
  margin: 0 1rem;
  font-weight: 900;
}
.listContainer,.lists{
  display: flex;
  flex-wrap: wrap;
  /* background-color: pink; */
  width: 90%;
  margin: auto;
  
  
}

.main {
  width: 100%;
  margin: 1rem;
  
}
.list-container{
  margin: 1rem;
}
.trelloBoard {

  width: 100%;
  background-color: #bdc3c7;
  padding: 1rem;
  border-radius: .7rem;


}

.trelloBoard .title {
  text-align: start;
}

.cardInfo {
  text-align: start;
}

.cardInfo button {
  padding: .5rem 1rem;
  margin: 0 .2rem;
}

.cards {
  width: 100%;
  /* border: 1px solid black; */
  margin: 1rem 0;
  border-radius: .3rem;
  padding: .5rem;
  background-color: white;
  cursor: pointer;
}

.cardInput {
  width: 55%;
  /* background-color: aqua; */
  height: 2rem;
  outline: none;
  border: none;
  border-radius: .3rem;
  padding: 0 .3rem;
}

.PopUp {
  position: absolute;
  top: 10%;
  left: 30%;
  /* transform: translate(-50%, -50%); */
  background-color: #e1e3e4;
  z-index: 1000;
  border-radius: .4rem;
  

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}


form {
  width: 700px;
  padding: 1.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.closeBtn {
  background-color: #e1e3e4;
  font-weight: 900;
  padding: .3rem .5rem;
}

.closeBtn:hover {
  background-color: #bdc3c7;
  border-radius: 50%;
}

.Description {
  margin-bottom: 2rem;
}

.Description h3 {
  margin-bottom: .5rem;
}

textarea {
  margin-top: 1rem;
  padding: .4rem;
}

.Description button {
  padding: .3rem .5rem;
  font-weight: 900;
}

.closeDescription {
  background-color: #e1e3e4;
  font-size: 1rem;
  font-weight: 900;
  margin-left: 1rem;
}


.comment h3 {
  margin-bottom: .5rem;
}

.comment input {
  width: 100%;
  height: 2rem;
  padding: 0 .4rem;
}

.commentText {
  background-color: white;
  margin: .5rem 0;
  padding: .7rem;
  border-radius: .3rem;

}

.comment .commentSaveBtn {
  background-color: #3498db;
  padding: .3rem .7rem;
  margin: .5rem 0;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  font-weight: 900;
}

.commentSaveBtn:hover{
  background-color: #83c2ec;
}
.checkListContainer {
  background-color: #b2bec3;
  margin: 1rem 0;
  padding: .5rem;
  border-radius: .4rem;
}

.check, .addItem {
  width: 30%;
  border-radius: .5rem;
  background-color: #bdc3c7;
  padding: .3rem 1rem;
  margin-bottom: .5rem;
  cursor: pointer;

}

.check i {
  margin-right: 1rem;
}

.checkListInput, .addCheckList {
  border: none;
  height: 1.7rem;
  border-radius: .3rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
  padding: 0 .4rem;
}

.checkListAdd, .save {
  background-color: #3498db;
  padding: .3rem .7rem;
  margin: .5rem 0;
  border: none;
  border-radius: .2rem;
  cursor: pointer;
  font-weight: 900;
}

.completeCheckList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: .3rem;
  margin-bottom: 1rem;
}
.deleteCheckList{
  padding:.5rem;
  border-radius: 50%;
}
.deleteCheckList:hover{
  background-color: #e5e7e9;

}

.completeCheckList i {
  margin-right: .5rem;
  cursor: pointer;

}

.checkItem {
  display: flex;
  border-radius: .3rem;
  margin-bottom: 1rem;
}
.checkItem li:hover{
background:none;
}
.checkItem i {
  margin-right: 1rem;
  cursor: pointer;
}

.addItem:hover{
  background-color: #ecf0f1;
}